<!--
  <ion-header>
  <ion-toolbar>
    <ion-title>avatar</ion-title>
  </ion-toolbar>
</ion-header>
-->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize"> Avatar </ion-title>
    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img src="/assets/avatar.png"></ion-img>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
</ion-content>